# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Application specific
uploads/*
!uploads/.gitkeep
results/*
!results/.gitkeep
logs/*
!logs/.gitkeep
data/
mLLMCelltype/
release/

# Environment variables
.env

# Docker
.dockerignore

# OS specific
.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Jupyter Notebook
.ipynb_checkpoints
